{% extends 'base.twig' %}

{% block body %}
    <div class="container">
        <img src="https://dummyimage.com/1200x400/bd64bd/ffffff" class="img-fluid" alt="...">
        <h1 class="mt-3 mb-3">Blog Post Title</h1>
        <div class="container mb-3">
            <div class="row">
                <span class="text-muted">Author | May 01, 2023</span>
            </div>
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid atque dolore doloremque laboriosam. Ad atque hic pariatur quibusdam! Beatae deleniti doloribus est illo quam repudiandae sint vel voluptatum? Ab aliquid porro possimus quam rerum. A architecto earum eos et harum ipsam, ipsum iste minima modi nemo nisi nostrum perferendis qui, quia, quibusdam quod sequi tempora tenetur ullam voluptate voluptatibus.
        </div>
    </div>
{% endblock %}